* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 20px;

}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  text-align: center;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task-main-list {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  width: 600px;
  min-height: 500px;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

